<footer>
	<h2>About Me</h2>
    <p>Hi, there. I don't have anything witty to say about myself right now. I'm a designer who lives in the Philadelphia-area. Do you use Twitter? Great! Me, too. I'm <a href="http://twitter.com/chuise" title="Follow me on Twitter.">@chuise</a>. If you would like to chat, <a href="mailto:hello@chuise.com" title="Drop me a line.">drop me a line</a>.</p>
		<p>Copyright {{ site.time | date: '%Y' }} Kevin M. Jackson.</p>
	</footer>
</body>
</html>
