	<footer>
    <p>Hi, there. I don't have anything witty to say about myself right now. I'm a designer. Do you use Twitter? Great! Me, too. I'm @chuise. If you would like to chat, drop me a line at hello@chuise.com.</p>
		<p>Copyright {{ site.time | date: '%Y' }} Kevin M. Jackson.</p>
	</footer>
</body>
</html>
