<footer>
	<div class="wrap">
		<h3>About Me</h3>
	    <p>Hi, there. I'm a designer who lives in the Philadelphia-area. If you see me around Center City, Philadelphia stop and say "hello". Do you use Twitter? Great! Me, too. I'm <a href="http://twitter.com/chuise" title="Follow me on Twitter.">@chuise</a>. If you would like to chat, <a href="mailto:hello@chuise.com" title="Drop me a line.">drop me a line</a>. You can also find some of my work on <a href="http://dribbble.com/chuise" title="View my Dribbble profile.">Dribbble</a>. Also, I helped make a thing called <a href="http://streamalong.tv" title="Checkout Streamalong: The best way to discover videos on Periscope." class="link-pink">Streamalong</a>. You should check it out.</p>

	    <h3>About This Site</h3>
	    <p>This site is an on-going experiment in iteration.</p>
		<p>Copyright 2006 &mdash; {{ site.time | date: '%Y' }} Kevin M. Jackson.</p>
	</div>
</footer>

</body>
</html>
