body {
  background-color: #fff;
  box-sizing: border-box;
  color: #5e6b78;
  font-family: $body-font;
  font-size: 18px;
}

// Headers
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: modular-scale(2);
  font-weight: 600;
}

h2 {
  font-size: modular-scale(1);
  font-weight: 600;
}

h3 {
  font-size: modular-scale(0);
  font-weight: 600;
}

// Basic Elements
p {
  line-height: 1.5em;
}

a {
  color: #0072ff;
  text-decoration: none;

  &.link-pink {
    color: #ff0074;
  }
}

#topbar {
  margin: 0 auto;

  header {
    h1 {
      font-size: modular-scale(1);
    }

    .secondary-link {
      color: #FF715B;
    }
  }
}

main {
  img {
    max-width: 100%;
  }
}

.wrap {
  @include outer-container;
  padding: 0 modular-scale(2);
}

.hero {
  margin-bottom: modular-scale(4);

  img {
    display: block;
    margin: 0;
  }

  &.selected-logos {
    border-bottom: solid 1px #dadada;
  }

  &.artisan-mobile {
    background-color: #f04123;
  }

  &.lovejoy {
    background-color: #e23c37;
  }

  &.streamalong {
    background-color: #ff0074;
  }
}

.work {
  h1 {
    color: #000;
    font-size: modular-scale(4);
    font-weight: 900;
    line-height: 1em;
    margin-bottom: .25em;
  }

  .subheader {
    font-size: modular-scale(1);
    font-weight: 600;
    margin-top: 0;
  }

  p {
    margin-bottom: 2rem;
  }
}

.selected-work {
  article {
    @include span-columns(6);
    @include omega();
    position: relative;

    h1 {
      background-color: #000;
      color: #fff;
      font-size: modular-scale(0);
      margin: 0;
      padding: em(10);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
    }

    img {
      display: block;
      max-height: 100%;
    }
  }
}

footer {
  border-top: solid 1px #dadada;
  margin: modular-scale(4) auto;
}