body {
  background-color: #fff;
  box-sizing: border-box;
  color: #5e6b78;
  font-family: $body-font;
  font-size: 18px;
}

// Headers
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: modular-scale(2);
  font-weight: 600;
}

h2 {
  font-size: modular-scale(1);
  font-weight: 600;
}

h3 {
  font-size: modular-scale(0);
  font-weight: 600;
}

// Basic Elements
p {
  line-height: 1.5em;
}

a {
  color: #0072ff;
  text-decoration: none;

  &.link-pink {
    color: #ff0074;
  }
}

#topbar {
  margin: 0 auto;
  max-width: em(580);
  padding-left: modular-scale(2);
  padding-right: modular-scale(2);

  header {
    h1 {
      font-size: modular-scale(1);
    }
  }
}

main {
  margin: 0 auto;
  max-width: em(580);
  padding-left: modular-scale(2);
  padding-right: modular-scale(2);

  img {
    max-width: 100%;
  }
}

footer {
  border-top: solid 1px #dadada;
  margin: modular-scale(4) auto;
  max-width: em(580);
  padding-left: modular-scale(2);
  padding-right: modular-scale(2);
}