$modular-scale-base: em(18);
$modular-scale-ratio: 1.333;

// Typography
$heading-font: "freight-sans-pro-1", "freight-sans-pro-2", "helvetica neue", helvetica, arial, sans-serif;
$body-font: "freight-text-pro-1", "freight-text-pro-2", "palatino" "georgia", "times new roman", serif;