{% include header.liquid %}
<div id="topbar">
  <div class="wrap">
  	<header>
  	  <h1><a href="/" title="Home">Hi, I'm Kevin.</a> Here's some of my work.</h1>
  	</header>
  </div>
</div>
<main>
  <div class="wrap selected-work">
    {% assign work = site.posts | where: "layout", "project" %}
    {% for post in work %}
  		<article>
  			<a href="{{ post.url }}" title="Read the full post.">
          <img src="{{ site.url }}/images/projects/{{ post.slug }}/thumbnail.jpg" />
        </a>
  		</article>
  	{% endfor %}
  </div>
</main>
{% include footer.liquid %}